[submodule "mutinynet-faucet"]
	path = mutinynet-faucet
	url = https://github.com/MutinyWallet/mutinynet-faucet.git
[submodule "electrs"]
	path = electrs
	url = https://github.com/MutinyWallet/electrs.git
	branch = new-index
[submodule "rapid-gossip-sync-server"]
	path = rapid-gossip-sync-server
	url = https://github.com/MutinyWallet/rapid-gossip-sync-server.git
	branch = 5-mins
